*{
    margin: 0;
    padding: 0;
}

header,footer{
    margin: auto;
    text-align: center;
    background:#243B57 ;
    color: white;

}
section{

    text-align: center;
    margin: auto;
    max-width: 360px;
    border: 1px solid black;
}